name: Run Core Java

on:
  push:

jobs:
  run-java:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Compile Java files
      run: javac *.java

    - name: Run Java program
      run: java Atm_Simulation
